*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx
*.bak
*.ppu
*.pcp
*.s
*.fpm
*.hex
*.elf
*.bin
*.ppl
.*.swp
*~
*.lps
*.elg
*.log
*.obj
*.asm
*.rsj
*.res
*.orig
*.rej
*.patch
*.diff
*.lst
*.app
*.ttp
*.prg
*.compiled
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
*.ld
*.env
*.dbg
*.lrt
__history
__recovery
bin
backup
lib
debug
